body{
	font: 12px arial;
	line-height: 2em;
}
a{
	color: #727272;text-decoration:none;
}
a:hover{text-decoration: underline}
.menu {
	color: #b9f605;	
	font-weight: bold;
	font-size: 14px;
}
.menu a{
	color: #ffffff;
}
.menu a:hover{
	color: #b9f605;
	text-decoration: none;
}
.menu .special{
	color: #fdb306;
}
