*{margin:0px; padding:0px;}
.meun ul{list-style-type: none; 
	overflow:hidden;
	background: url("images/menu_bg.png") no-repeat left;
	background-size: 850px 45px;
	overflow: hidden;
		}
.meun li a{
	display:block;
	width:135px;
	text-decoration:none;
	height:30px;
	font-weight:bold;
	color:#330033;
	font-color:#333;
	font-size:12px;
	line-height: 30px;
	text-align: center;
}
.meun li{float:left; 
		width: 135px; 
		height: 30px; 
		text-align: center;
		background-size: 22px;
		background: url("images/line.png") no-repeat right;
		text-align:center;
	}
.meun a:hover{color:#fff;
			background: url("images/menu_bg1.png") no-repeat center;
			background-size: 110px 34px;
			position: relative;
			right: 5px;
			font-weight: bold;}




